/*
 * General visual rules
 * 
 */

body {
    --odyssey_yellow: #eed777;
    --odyssey_orange: #fba670;
    --odyssey_blue_light: #3780cd;
    --odyssey_blue_dark: #184776;
    --odyssey_grey: #cdccca;
    --odyssey_black: #2d2d2d;
}

body {
    margin: 0px;
    color: var(--odyssey_black);
}

.container,
.container-full {
    box-sizing: border-box;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.image_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

@media only screen and (min-width: 768px) {
    .container,
    .container-full {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media only screen and (min-width: 1024px) {
    .container,
    .container-full {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .container,
    .container-full {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .container {
        padding-left: 240px;
        padding-right: 240px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        padding-left: 300px;
        padding-right: 300px;
    }
}


/*
 * General typographic rules
 * 
 */

h2 {
    font-family: "kepler-std-semicondensed-dis", serif;
    font-size: 48px;
    color: var(--odyssey_grey);
    /*    text-align: center;*/
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 200;
    color: var(--odyssey_orange);
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 24px;
}

a {
    transition: 0.75s;
}

.text_link {
    color: var(--odyssey_black);
    border-bottom: 2px var(--odyssey_grey) dotted;
    padding-bottom: 4px;
}

.text_link:hover {
    color: var(--odyssey_blue_light);
}

img {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 74px;
    }
}

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 96px;
    }
    h3 {
        font-size: 26px;
        line-height: 36px;
    }
}


/*
 * General graphic element rules
 * 
 */

.button,
.button a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: 0.75s;
    text-align: center;
}

.button a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-primary {
    background-color: transparent;
    border: 2px solid var(--odyssey_black);
}

.button-primary a {
    color: var(--odyssey_black);
}

.button-primary:hover {
    background-color: var(--odyssey_black);
}

.button-primary:hover a {
    color: white;
}

.button-primary-light {
    color: white;
    border: 2px solid white;
}

.button-primary-light a {
    color: white;
}

.button-primary-light:hover {
    background-color: white;
}

.button-primary-light:hover a {
    color: var(--odyssey_black);
}

.button-secondary {
    color: var(--odyssey_blue_light);
    border: 2px solid var(--odyssey_blue_light);
}

.button-secondary:hover {
    color: white;
    background-color: var(--odyssey_blue_light);
}

.button-secondary-light {
    color: var(--odyssey_blue_light);
    border: 2px solid var(--odyssey_blue_light);
}

.button-secondary-light:hover {
    color: var(--odyssey_black);
    background-color: var(--odyssey_blue_light);
}

@media only screen and (min-width: 1024px) {
    .button a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.read_more {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    align-self: flex-end;
}


/*
 * Navigation
 * 
 */

#nav {
    position: absolute;
    padding: 20px 180px;
}

#nav_navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/*
 * Hero section
 * 
 */

#hero {
    height: 80vh;
    display: flex;
    background-image: url('../img/koushik-chowdavarapu-137783-unsplash.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hero h2 {
    font-family: "kepler-std-semicondensed-dis", serif;
    font-size: 54px;
    text-align: left;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
}

@media only screen and (min-width: 768px) {
    #hero {
        height: 60vh;
        background-position: bottom;
    }
    #hero h2 {
        font-size: 76px;
    }
}

@media only screen and (min-width: 1024px) {
    #hero {
        height: 70vh;
        background-position: center;
    }
    #hero h2 {
        font-size: 96px;
    }
}

@media only screen and (min-width: 1224px) {
    #hero {
        height: 80vh;
    }
}

@media only screen and (min-width: 1800px) {
    #hero h2 {
        font-size: 116px;
    }
}

.cd-headline {
    padding-top: 100px;
}

.cd-headline.clip {
    line-height: 0.75em;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9;
}

.cd-headline.clip b {
    opacity: 0;
}

.cd-headline.clip b.is-visible {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-headline {
        padding-top: 90px;
        padding-left: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-headline {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 1800px) {
    .cd-headline {
        padding-top: 0px;
        padding-left: 6vw;
    }
}


/*
 * Our philosophy
 * 
 */

#philosophy div {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    #philosophy div {
        width: 60vw;
    }
}

@media only screen and (min-width: 1024px) {
    #philosophy div {
        width: 55vw;
        max-width: 675px;
    }
}

@media only screen and (min-width: 1224px) {
    #philosophy div {
        width: 40vw;
    }
}

/*
 * Image Section
 * 
 */

#image_section_afterphilosophy img {
    grid-column: 1 / 3;
}

#image_section_afterphilosophy p {
    position: absolute;
    font-family: "kepler-std-semicondensed-dis", serif;
    font-size: 10vw;
    line-height: normal;
    width: 90%;
    left: 8vw;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
}

#image_section_afterphilosophy span {
    border-bottom: 3px var(--odyssey_black) solid;
}

@media only screen and (min-width: 768px) {
    #image_section_afterphilosophy p {
        font-size: 10vw;
        width: 65vw;
        left: 12vw;
        -webkit-margin-before: 0.1em;
        -webkit-margin-after: 0.1em;
    }
    #image_section_afterphilosophy span {
        border-bottom: 6px var(--odyssey_black) solid;
    }
}

@media only screen and (min-width: 1024px) {
    #image_section_afterphilosophy p {
        font-size: 7.5vw;
        width: 65vw;
        left: 10vw;
        -webkit-margin-before: 0.75em;
        -webkit-margin-after: 0.75em;
    }
}

@media only screen and (min-width: 1880px) {
    #image_section_afterphilosophy p {
        -webkit-margin-before: 0.4em;
    }
}


/*
 * Odyssey formula
 * 
 */

#formula {
    padding-bottom: 0px;
}

#formula_heading {
    max-width: 650px
}

#formula_intro {}

#image_section_formula {
    display: inline-block;
    position: relative;
    padding-top: 50px;
    z-index: 0;
}

.formula_img {
    width: 100%;
}

#formula_img_1 {
    padding-top: 80px;
}

#formula_img_2 {
    display: none;
}

.formula_step {
    position: relative;
    z-index: 10;
}

#formula_circle_1 {
    position: absolute;
    top: 0px;
    right: 20vw;
    height: 800px;
    width: 800px;
    border-radius: 100%;
    background-color: var(--odyssey_yellow);
    opacity: 0.4;
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    #image_section_formula {
        padding-bottom: 400px;
    }
    .formula_step {
        width: 250px;
    }
    #formula_step_2 {
        position: absolute;
        top: 170px;
        right: 10vw;
    }
    #formula_step_3 {
        position: absolute;
        bottom: 100px;
        right: 10vw;
    }
    .formula_img {
        width: 47%;
        display: inline-block;
        position: relative;
    }
    #formula_img_1 {
        top: 60px;
        z-index: 1;
        padding-top: 0;
    }
    #formula_img_2 {
        display: block;
        z-index: 3;
        float: right;
        top: -100px;
    }
    #formula_circle_1 {
        top: 150px;
        right: 20vw;
        height: 500px;
        width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    #image_section_formula {
        padding-bottom: 500px;
    }
    .formula_step {
        width: 350px;
    }
    #formula_step_2 {
        top: 200px;
        right: 17vw;
    }
    #formula_step_3 {
        bottom: 200px;
        right: 11%;
    }
    #formula_img_1 {
        top: 180px;
        z-index: 1;
        padding-top: 0;
    }
    #formula_img_2 {
        display: block;
        z-index: 3;
        float: right;
        top: 0px;
    }
    #formula_circle_1 {
        top: 150px;
        right: 20vw;
        height: 700px;
        width: 700px;
    }
}

@media only screen and (min-width: 1440px) {
    #formula_step_2 {
        right: 25vw;
    }
    #formula_step_3 {
        right: 20%;
    }
}

@media only screen and (min-width: 1800px) {
    .formula_step {
        width: 400px;
    }
    #formula_step_1 {
        position: relative;
        left: 3vw;
    }
    #formula_step_2 {
        right: 30vw;
    }
    #formula_step_3 {
        right: 23vw;
    }
    #formula_circle_1 {
        top: 80px;
        height: 950px;
        width: 950px;
    }
}

/*
 * Wave elements
 * 
 */

#waves {
    display: none;
}

@media only screen and (min-width: 768px) {
    #waves {
        display: block;
        height: 0px;
        /*    margin-top: -120px;*/
        z-index: -10px;
        position: relative;
        padding: 0;
    }

    #waves .svg {
        position: absolute;
        top: -270px;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    #waves {
        /*        height: 250px;*/
        /*        margin-top: 400px;*/
        z-index: 10;
    }
}

.animated {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 3.0s ease-in;
}


#Layer_1 .animated {
    transition-delay: 0;
}

#Layer_2 .animated {
    transition-delay: .05s;
}

#Layer_3 .animated {
    transition-delay: .1s;
}

#Layer_4 .animated {
    transition-delay: .15s;
}

#Layer_5 .animated {
    transition-delay: .2s;
    /*    transition-duration: .2s;*/
}

#Layer_6 .animated {
    transition-delay: .25s;
}

#Layer_7 .animated {
    transition-delay: .3s;
}

#Layer_8 .animated {
    transition-delay: .35s;
}

#Layer_9 .animated {
    transition-delay: .4s;
}

#Layer_10 .animated {
    transition-delay: .45s;
}

/*
 * Funeral services
 * 
 */

#services {
    display: grid;
}

#services h2 {
    text-align: left;
    margin: 0;
}

#services_intro {
    order: 1;
}

#services_list {
    /*    width: 80vw;*/
    /*    margin: 0 auto;*/
    order: 2;
}

#services_readmore {
    order: 3;
    display: flex;
    /*    padding-top: 30px;*/
    /*    justify-content: flex-end;*/
    /*    padding-right: 20px;*/
}

/*
.services_item:nth-child(1) {
    border-top: 1px grey solid;
}

.services_item {
    border-bottom: 1px grey solid;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.services_item h3 {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}
*/

@media only screen and (min-width: 768px) {
    #services {
        /*        grid-template-columns: repeat(5, 1fr);*/
    }
    #services_intro {
        /*        grid-column: 1 / 4;*/
    }
    #services_readmore {
        grid-column: 1 / 4;
        padding-top: 0px;
        padding-right: 0px;
        justify-content: flex-start;
    }
    #services_list {
        width: auto;
        grid-column: 1 / span 5;
    }
    #services_list h3 {
        /*        text-align: center;*/
    }
}

@media only screen and (min-width: 1024px) {
    #services {
        padding-top: 200px;
    }
    #services_intro {
        margin-bottom: 20px;
        width: 62%;
    }
    #services_list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column: 1 / span 5;
        grid-gap: 20px;
        width: 100%;
    }
    #services_list h3 {
        font-size: 20px;
        line-height: 1.4em;
    }
    /*NEW*/
    .services-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid var(--odyssey_orange);
        box-sizing: border-box;
    }
    .services-box:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .services-box:nth-of-type(even) {
        margin-top: 60px;
    }
    .services-box:nth-of-type(odd) {
        margin-bottom: 60px;
    }
    .services-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        padding: 20px;
    }
    .services-content div {
        display: table;
        width: 100%;
        height: 100%;
    }
    .services-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white
    }
    #services_list h3 {
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 1440px) {
    #services {
        padding-top: 240px;
    }
    #services_list h3 {
        font-size: 1.3vw;
    }
}

@media only screen and (min-width: 1800px) {
    #services {
        padding-top: 430px;
    }
}

/*
 * CTA for intake form
 * 
 */

#intake {
    /*    border: 30px white solid;*/
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}


#intake_bgimg {
    background-image: url('../img/ales-krivec-767-unsplash.jpg');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    height: 525px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intake_content {
    background-color: rgba(0, 0, 0, 0.4);
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 400px;
    box-sizing: border-box;
    transition: 0.75s;
}

#intake h2,
#intake p {
    color: white;
}

#intake h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 48px;
}

#intake .button {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
}


@media only screen and (min-width: 768px) {
    #intake_bgimg {
        height: 700px;
    }
    #intake_content {
        background-color: rgba(0, 0, 0, 0.4);
        height: 600px;
        width: 600px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
    }
}

/*
 * Hero stories
 * 
 */

#stories {
    position: relative;
}

#stories h2 {
    /*
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
*/
}

.story h4 {
    color: var(--odyssey_orange);
}

.story_image {
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.story_image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#story_1_image {
    background-image: url('../img/jenelle-ball-4389-unsplash.jpg');
}

#story_2_image {
    background-image: url('../img/maximilian-weisbecker-121294-unsplash.jpg');
}

#story_3_image {
    background-image: url('../img/tanner-vines-37711-unsplash.jpg');
}

#stories .read_more {
    margin-bottom: 50px;
}

.circle_orangering {
    position: absolute;
    height: 1500px;
    width: 1500px;
    border-radius: 100%;
    border: 1px var(--odyssey_orange) solid;
    z-index: -10;
    left: -1200px;
    top: -150px;
}

@media only screen and (min-width: 768px) {
    #stories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    #stories h2 {
        grid-column: 1 / 4;
        -webkit-margin-before: 0.25em;
        -webkit-margin-after: 0.25em;
    }
    .story_image {
        grid-column: 1;
        width: 200px;
        height: 200px;
    }
    .story {
        grid-column: 2 / span 2;
    }
    .story h4 {
        -webkit-margin-before: 0.25em;
        -webkit-margin-after: 0.25em;
    }
    .circle_orangering {
        height: 900px;
        width: 900px;
        left: -320px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    #stories {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 50px;
        grid-column-gap: 20px;
    }
    #stories h2 {
        grid-column: 1 / 6;
    }
    .story_image {
        width: 300px;
        height: 300px;
    }
    #story_1_image {
        grid-column: 1 / span 2;
    }
    #story_1 {
        grid-column: 3 / span 2;
    }
    #story_2_image {
        grid-column: 2 / span 2;
    }
    #story_2 {
        grid-column: 4 / span 2;
    }
    #story_3_image {
        grid-column: 1 / span 2;
    }
    #story_3 {
        grid-column: 3 / span 2;
    }
    .circle_orangering {
        height: 1150px;
        width: 1150px;
        left: -190px;
        margin-top: 120px;
    }
}

@media only screen and (min-width: 1600px) {
    #stories {
        grid-column-gap: 70px;
    }
    .story_image {
        display: flex;
        justify-self: flex-end;
    }
    .circle_orangering {
        height: 1600px;
        width: 1600px;
        left: -210px;
        margin-top: 180px;
    }
}

/*
 * Call-to-action (call us)
 * 
 */

#cta.container {
    padding-bottom: 0;
}

#cta h3 {
    position: relative;
    top: -30px;
}

#cta-phonenum {
    padding-top: 20px;
    /*    padding-bottom: 0px;*/
}

#cta-phonenum-image {
    height: 300px;
    width: 100vw;
    background-image: url("../img/touch.jpg");
    background-size: cover;
    background-position: center;
}

#cta-phonenum-image p {
    padding-left: 20px;
    font-family: "kepler-std-semicondensed-dis", serif;
    font-size: 14vw;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
    color: var(--odyssey_grey);
}

@media only screen and (min-width: 768px) {
    #cta-phonenum-image {
        height: 400px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    #cta-phonenum-image {
        height: 600px;
    }
    #cta-phonenum-image p {
        padding-left: 10vw;
    }
}

@media only screen and (min-width: 1600px) {
    #cta-phonenum-image {
        height: 75vh;
    }
    #cta-phonenum-image p {
        padding-left: 280px;
        font-family: "kepler-std-semicondensed-dis", serif;
        font-size: 10vw;
    }
}


/*
 * Booklet
 * 
 */

#booklet {
    display: grid;
    /*    background-color: #e8e8e8;*/
    /*    border: 30px white solid;*/
    box-sizing: border-box;
}

#booklet_heading {
    order: 1;
}

#booklet_heading h2 {
    text-align: left;
}

#booklet_intro {
    order: 3;
}

#booklet_image {
    order: 2;
    min-height: 260px;
    background-image: url('../img/bookletcover.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    #booklet {
        grid-template-columns: 4fr 1fr 4fr;
    }
    #booklet_heading {
        grid-column: 1 / 2;
    }
    #booklet_heading h2 {
        grid-column: 1 / 2;
        margin-top: 0;
        margin-bottom: 0px;
    }
    #booklet_intro {
        grid-column: 1 / 2;
    }
    #booklet_image {
        grid-column: 3 / 4;
        grid-row: span 2;
        height: auto;
    }
}

@media only screen and (min-width: 1600px) {
    #booklet {
        padding-left: 350px;
        padding-right: 350px;
    }
    #booklet_image {
        min-height: 350px;
    }
}

@media only screen and (min-width: 2000px) {
    #booklet_image {
        min-height: 475px;
    }
}


/*
 * Locations
 * 
 */

#locations {
    display: grid;
}

#locations h2 {
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
}

#locations_state {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#locations_state #map,
#locations_state #orange-dot,
#locations_state #yellow-dot,
#locations_state #blue-dot {
    stroke: none;
}

.location_name {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/*
#locations_list {
    padding-left: 10vw;
}
*/

@media only screen and (min-width: 768px) {
    #locations {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 50px;
    }
    #locations h2 {
        grid-column: span 7;
    }
    #locations_state {
        grid-column: span 5;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #locations_list {
        grid-column: 6 / 8;
    }
    #locations_state svg {
        width: 100%;
        height: 100%;
    }
    #orange-ring circle,
    #yellow-ring circle,
    #blue-ring circle {
        transform-origin: 50% 50%;
        transition: 0.5s ease;
        stroke-width: 3px;
    }
    #orange-dot:hover + #orange-ring circle,
    #yellow-dot:hover + #yellow-ring circle,
    #blue-dot:hover + #blue-ring circle {
        transform-origin: 50% 50%;
        r: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    #locations {
        grid-gap: 20px;
    }
    #locations_state {
        grid-column: span 4;
    }
}

/*
 * Footer
 * 
 */

#footer {
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1.0));
}

#footer_content {
    margin-top: 40px;
}

#footer_desc img {
    width: 60%;
}

#footer_desc h3 {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.1em;
}

#footer_desc p {
    -webkit-margin-before: 0;
}

input:focus {
    outline: none;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: transparent;
}

#footer_socmed p {
    font-family: 'Roboto', sans-serif;
}

#footer_socmed input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid var(--odyssey_grey);
    width: 200px;
    padding-bottom: 5px;
}

#footer_legal {
    border-top: 2px dotted var(--odyssey_grey);
    padding-top: 15px;
}

#footer_legal ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
}

#footer_legal li {
    /*    display: inline-block;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: grey;
    text-align: center;
    height: 24px;
}

#footer_legal a {
    color: grey;
}

#footer_legal a:hover {
    color: var(--odyssey_blue_light);
}

#footer_legal_copyright {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    text-align: center;
}

#footer-wave {
    width: 100%;
    padding: 0;
    height: 0;
    position: relative;
    z-index: -10;
}

#wave-container {
    overflow: hidden;
    height: 400px;
    position: absolute;
    top: -400px;
    width: 100%;
}

#footer-wave svg {
    /*    position: relative;*/
    /*    top: -400px;*/
}

@media only screen and (min-width: 768px) {
    #footer {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }
    #footer_content {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        grid-gap: 40px;
    }
    #footer_desc {
        grid-column: 1 / span 2;
    }
    #footer_content h3 {
        font-size: 22px;
    }
    #footer_socmed {
        grid-column: 3 / span 2;
    }
    #footer_legal {
        grid-column: 1 / span 4;
        border-top: none;
        padding-top: 0px;
    }
    #footer_legal li {
        display: inline-block;
    }
    #footer_legal li:not(#footer_legal_copyright) {
        width: 24%;
        text-align: center;
    }
    #footer_legal a {
        padding-bottom: 5px;
        color: grey;
        border-bottom: 2px dotted var(--odyssey_grey);
    }
}

@media only screen and (min-width: 1024px) {
    #footer {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
    }
    #footer_socmed .button {
        width: 75%;
    }
    li#footer_legal_copyright {
        position: inherit;
        left: auto;
        bottom: auto;
        width: 38%;
        text-align: left;
    }
    #footer_legal li:not(#footer_legal_copyright) {
        width: 15%;
    }
}

@media only screen and (min-width: 1400px) {
    #footer {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 30px;
    }
    #footer_desc {
        grid-column: 1 / span 1;
    }
    #footer_socmed .button {
        width: 50%;
    }
    li#footer_legal_copyright {
        width: 50%;
    }
    #footer_legal li:not(#footer_legal_copyright) {
        width: 12%;
    }
}
